# Ambiente virtual
.venv/
venv/
ENV/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Banco de dados local
*.db
*.sqlite3

# Logs
*.log

# Arquivos do sistema
.DS_Store
Thumbs.db

# Config do VS Code
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Arquivos temporários
*.tmp
*.bak